{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}

    <div class="page home"{{ if ne $posts.enable false }} posts{{ end }}>
        {{- /* Profile */ -}}
        {{- if ne $profile.enable false -}}
            {{- partial "home/profile.html" . -}}
        {{- end -}}

        {{- /* Content */ -}}
        {{- if .Content -}}
            <div class="single">
                <div class="content" id="content">
                    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                </div>
            </div>
        {{- end -}}
<!--         <iframe style="margin-top:60px" width="100%" height="315"
src="https://youtube.com/embed/lpKYI9PZ258">
        </iframe> -->
       <!--- <h1 class="">
            <div class=""></div>
            <div style="text-align: center;" class="page-title__subtitle">Greetings!</div>
            </h1>
	    --->
            
            
            <div style="text-align: left" id="describe-text">
            👋 I'm a software engineer from Greece with a passion for web development, cybersecurity, and AI. With over five years of work experience, I specialize in building web applications, browser extensions, mobile apps, and security tools.
            <br />
            <br />
            I enjoy learning new technologies, optimizing software performance, and solving security challenges. Feel free to check out my 
		<a style="text-decoration-line: underline; text-decoration-style: wavy;"  href="https://github.com/CuriouzK0d3r">GitHub</a>, <a style="text-decoration-line: underline; text-decoration-style: wavy;" href="https://scholar.google.com/citations?user=XA6qIAkAAAAJ">research papers</a>, and <a style="text-decoration-line: underline; text-decoration-style: wavy;"  href="https://alexisk.tech/resume">resume</a> to learn more about my work.
            </div>
        <h2 style="margin-bottom: 0px; margin-top: 30px"> <u>BLOG POSTS</u> </h2>
        {{- /* Posts */ -}}
        {{- if ne $posts.enable false | and .Site.RegularPages -}}
            {{- /* Paginate */ -}}
            {{- $pages := where .Site.RegularPages "Type" "posts" -}}
            {{- if .Site.Params.page.hiddenFromHomePage -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" false -}}
            {{- else -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" "!=" true -}}
            {{- end -}}
            {{- with $posts.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.Pages -}}
                {{- .Render "summary" -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
